Makefile
abi/
android_app_fupk3_dumpMethod.h
art/
bionic/
bootable/
broadcom-mako-ktu84p-3a6a5a8b.tgz
build/
check
check.cpp
closejit.sh
cts/
developers/
development/
device/
docs/
external/
extract-broadcom-mako.sh
extract-lge-mako.sh
extract-qcom-mako.sh
frameworks/av/
frameworks/base/Android.mk
frameworks/base/CleanSpec.mk
frameworks/base/MODULE_LICENSE_APACHE2
frameworks/base/NOTICE
frameworks/base/api/
frameworks/base/cmds/
frameworks/base/data/
frameworks/base/docs/
frameworks/base/drm/
frameworks/base/graphics/
frameworks/base/include/
frameworks/base/keystore/
frameworks/base/libs/
frameworks/base/location/
frameworks/base/media/
frameworks/base/native/
frameworks/base/nfc-extras/
frameworks/base/obex/
frameworks/base/opengl/
frameworks/base/packages/
frameworks/base/policy/
frameworks/base/preloaded-classes
frameworks/base/samples/
frameworks/base/sax/
frameworks/base/services/
frameworks/base/telephony/
frameworks/base/test-runner/
frameworks/base/tests/
frameworks/base/tools/
frameworks/base/wifi/
frameworks/compile/
frameworks/ex/
frameworks/ml/
frameworks/native/
frameworks/opt/
frameworks/rs/
frameworks/support/
frameworks/testing/
frameworks/volley/
frameworks/webview/
frameworks/wilhelm/
hardware/
hs_err_pid57768.log
hs_err_pid57850.log
hs_err_pid57914.log
lge-mako-ktu84p-2e326822.tgz
libnativehelper/
ndk/
packages/
pdk/
prebuilts/
qcom-mako-ktu84p-c8f35998.tgz
sample/
sdk/
system/
tools/
upkname.sh
vendor/

